<div>
    <h1>Ajouter Avis</h1>
    <form>
        <table>
            <tr>
                <td>Titre</td>
                <td><input type="text" [(ngModel)]="avis.titre" name="titre"/></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" [(ngModel)]="avis.description" name="description"/></td>
            </tr>
            <tr>
                <td colspan="2"><button>Ajouter</button></td>
            </tr>
        </table>
    </form>
</div>
<div>
    <table>
        <tr>
            <td>Numéro avis</td>
            <td>Titre/td>
            <td>Description</td>
        </tr>
        <tr *ngFor="let a of avis">
            <td>{{a.idAvis}}</td>
            <td>{{a.titre}}</td>  
            <td>{{a.description}}</td>
            <td><button (click)="deleteAvis(a.idAvis)">Delete</button></td>
        </tr>
    </table>
</div>
